@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.arrow-game-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: white;
    overflow: hidden;
  }
  
  .arrow-game-container {
    position: absolute;
    top: 1rem;
    width: 100%;
    height: 8rem; 
    z-index: 10;
  }
  
  .arrow {
    position: absolute;
    top: 1.25rem;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    transition: transform 0.05s linear;
    will-change: transform; 
    border: 5px solid white;
    font-family: 'Luckiest Guy';
    box-sizing: border-box;
  }  
  
  .arrow-icon {
    font-size: 3rem; /* Adjust for better fit */
    line-height: 1;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  
  /* Optional: Direction-based styling */
  .arrow-ArrowUp {
    background-color: #0099ff;
  }
  .arrow-ArrowDown {
    background-color: #ff0400;
  }
  .arrow-ArrowLeft {
    background-color: #ffd000;
  }
  .arrow-ArrowRight {
    background-color: #009500;
  }
  .arrow-Button {
    background-color: purple;
  }
  
  
  .hit-line {
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #ECECEC;
    border: 3px solid white;
    border-radius: 4px;
  }
  
  .hit-line::after {
    content: '';
    position: absolute;
    left: -18px;
    top: 0;
    width: 40px;
    height: 100%;
    background: rgba(256, 256, 256, 0.5);
    border-radius: 4px;
    pointer-events: none;
    z-index: 999;
  }
  
  .hit-feedback {
    position: absolute;
    left: 50%;
    font-size: 4rem;
    font-weight: bold;
    animation: pulseFade 0.6s ease-out;
    z-index: 999;
    pointer-events: none;
    color: white;
    font-family: 'Luckiest Guy';
  }
  
  
  @keyframes pulseFade {
    0% {
      opacity: 0;
      transform: translateX(-50%) scale(0.8);
    }
    50% {
      opacity: 1;
      transform: translateX(-50%) scale(1.2);
    }
    100% {
      opacity: 0;
      transform: translateX(-50%) scale(1);
    }
  }

  
  