@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Super Mario 256 Font */
@font-face {
    font-family: 'SuperMario256';
    src: url('../../fonts/SuperMario256.ttf') format('truetype');
    font-weight: normal;
    font-style: Super Mario;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevents scrolling */
}

.menu-container {
background: url('../../assets/Game_Background_2.jpg') no-repeat center center fixed;
background-size: cover;
background-color: black;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

width: 100vw;
height: 100vh; /* Full screen height */
text-align: center;
color: white;
font-family: 'Luckiest Guy';
}

.title span:nth-child(1) { color: #ff0400; border: 3px white; }
.title span:nth-child(2) { color: #0099ff; border: 3px white; }
.title span:nth-child(3) { color: #ffd000; border: 1px white; }
.title span:nth-child(4) { color: #009500; border: 1px white; }
.title span:nth-child(5) { color: #ff0400; border: 1px white; }
.title span:nth-child(6) { color: #0099ff; border: 1px white; }
.title span:nth-child(7) { color: #ffd000; border: 1px white; }

.title {
    font-size: 4rem;
    width: 35rem;
    font-family: 'SuperMario256', sans-serif;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    text-align: center;
    gap: 20px; 
    max-width: 100%;
  }
  
.word {
    display: flex;
    gap: 2px; 
}
  
.word span {
    -webkit-text-stroke: 2px white; 
    text-shadow: 
      -3px -3px 0 black,  
       3px -3px 0 black,  
      -3px  3px 0 black,  
       3px  3px 0 black,
      -4px  0px 0 black,  
       4px  0px 0 black,  
       0px -4px 0 black,  
       0px  4px 0 black;
}
  
.input-field {
  font-family: 'Luckiest Guy';
  margin: 10px;
  padding: 12px;
  border: 3px solid rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 8px;
  font-size: 1.5rem;
  text-align: center;
}

.selection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 12px;
    border-radius: 8px;
    border: 3px solid black;
    font-family: 'Luckiest Guy';
    font-size: 1.5rem;
    color: black;
}

.dropdown {
    margin-left: 10px;
    padding: 12px;
    border: 3px solid black;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 8px;
    font-family: 'Luckiest Guy';
    font-size: 1.5rem;
}

.start-button {
  padding: 12px 24px;
  background: #ffe062;
  color: black;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 8px;
  font-family: 'Luckiest Guy';
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.start-button:hover {
  background: #0099ff;
  transform: scale(1.1);
}
